<%= form_with(model: announcement, local: true) do |form| %>

  <% if @post.errors.any? %>
       <div>
            <ul>
                 <% @post.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
            </ul>
       </div>
  <% end %>

  <%= form.label :title %><br>
  <%= form.text_field :title, placeholder: 'Type the announcement title here' %><br>
  <%= form.label :content %><br>
  <%= form.text_area :content, size: '60x12', placeholder: 'Type the announcement text here' %><br>

  <%= form.submit %>

<% end %>
