<% @comments.each do |comment|  %>
  <p>Comment By: <%= comment.member.username %></p>
  <p><%= comment.content %></p>

  <% if current_member.id == comment.member.id %>
    <%= link_to "Delete Comment", [comment.post, comment], method: :delete %> |
    <%= link_to "Edit Comment", edit_post_comment_path(comment.post, comment) %>
  <% end %>
    
<% end %>

<%= render 'comments/form' %>
