<div class="container" id="home">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h5 class="section-title">Recent Conversations</h5>
    </div>
    <div class="col-sm-3">
      <h5 class = "section-title">Announcements</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-center member-profile">
        <div class="card-body">
          <a href = "<%= member_path(current_member) %>">
            <img class="rounded-circle" src="<%= current_member.avatar.url %>" alt="profile image" width="100" height="100">
          </a>
          <h5 class="card-title member-name"><%= link_to current_member.fullname, current_member %></h5>

          <p class="card-text member-bio">
             <% if current_member.title? && current_member.company %>
            <%= current_member.title %> at <%= current_member.company %>
             <% else %>
             &nbsp;
             <% end %>
          </p>

          <hr />
          <div>
            <% current_member.skill_list.each do |tag| %>
              <a href="#" class="badge badge-skill"><%= tag %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <% @conversations.each do |post| %>
        <div class="card conversation">
          <div class="card-body">
            <div class = "author">
              <div class = "author-photo float-left">
                <img class="rounded-circle" src="<%= post.member.avatar.url %>" alt="profile image" width="35" height="35">
            </div>
              <div class = "author-meta">
                <h6 class = "name"><%= link_to post.member.fullname, post.member %></h6>
                <h6><%= time_ago_in_words(post.created_at) %> ago</h6>
              </div>
            </div>
            <hr class="mb-4">
            <h5 class="card-title"><%= link_to post.title, post %></h5>
            <p class="card-text"><%= sanitize(truncate(post.content, length: 150)) %></p>
            <p class="card-text read-more"><%= link_to 'Read more &rarr;'.html_safe, post %></p>
          </div>
        </div>
      <% end %>
      <% if @conversations.count >= 1 %>
      <div class = "read-more">
        <%= link_to 'View older conversations &rarr;'.html_safe, posts_path %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-3">
      <% @announcements.each do |announcement| %>
        <div class="alert alert-warning fade show" role="alert">
          <h5><%= announcement.title %></h5>
          <small>Posted <%= time_ago_in_words(announcement.created_at) %> ago</small>
          <p><%= announcement.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
