<%= form_with(model: post, local: true) do |form| %>

  <% if @post.errors.any? %>
       <div>
            <p><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</p>
            <ul>
                 <% @post.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
            </ul>
       </div>
  <% end %>


  <%= form.collection_select(:category_id, Category.all, :id, :name, {prompt: 'Choose a category' }) %><br>
  <br>
  <%= form.label :title %><br>
  <%= form.text_field :title, placeholder: 'Type the post title here' %><br>
  <%= form.label :content %><br>
  <%= form.text_area :content, size: '60x12', placeholder: 'Type the post text here' %><br>
  <%= form.label :image %><br>
  <%= form.file_field :image %><br>
  <br>
  <%= form.submit %>

<% end %>
