<div class="container" id = "conversations">
  <div class = "row header">
    <div class = "col-md-12">
      <h1>Conversations <%= link_to 'New Conversation', new_post_path, class: 'btn btn-primary float-right' %></h1>
    </div>
  </div>
  <div class = "row convos">
    <div class = "col-sm-2">
       <%= render 'shared/categories' %>
    </div>
    <div class = "col-sm-10">
      <% @posts.each do |post| %>
      <div class="card conversation">
        <div class="card-body">
          <div class = "author">
            <div class = "author-photo float-left">
              <img class="rounded-circle" src="<%= post.member.avatar.url %>" alt="profile image" width="35" height="35">
          </div>
            <div class = "author-meta">
              <h6 class = "name"><%= link_to post.member.fullname, post.member %></h6>
              <h6><%= time_ago_in_words(post.created_at) %> ago</h6>
            </div>
          </div>
          <hr class="mb-4">
          <h5 class="card-title"><%= link_to post.title, post %></h5>
          <p class="card-text"><%= sanitize(truncate(post.content, length: 150)) %></p>
          <p class="card-text read-more"><%= link_to "#{post.comments.count} Comments | Read more &rarr;".html_safe, post %></p>
        </div>
      </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
