<div class="container">
  <% controller.redirect_to '/members/sign_in' unless member_signed_in?  %>

  <h1>Posts</h1>
  <%= link_to 'New Post', new_post_path %>

  <% @posts.each do |post| %>
       <h1><%= link_to post.title, post %></h1>
       <h6>Posted by <%= post.member.firstname %> <%= post.member.lastname %></h6>
       <p><%= post.content %></p>
  <% end %>
</div>
