<%= form_with(model: category, local: true) do |form| %>

  <% if @category.errors.any? %>
       <div>
            <p><%= pluralize(@category.errors.count, "error") %> prevented this post from saving.</p>
            <ul>
                 <% @category.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
            </ul>
       </div>
  <% end %>

  <%= form.label :name %><br>
  <%= form.text_field :name, placeholder: 'Enter name of category' %><br>

  <%= form.submit %>

<% end %>
