<!DOCTYPE html>
<html>
  <head>
    <title>Member Portal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if member_signed_in? %>
        <%= render 'layouts/navbar' %>
      <% end %>
    </header>

    <div class="container">
      <% if(notice) %>
      <div class="alert alert-secondary" role="alert">
        <%= notice %>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
