<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h3>Username</h3>
  <%= form.text_field :username %>

<h3>First Name</h3>
  <%= form.text_field :firstname %>

<h3>Last Name</h3>
  <%= form.text_field :lastname %>

<h3>Location</h3>
  <%= form.text_field :location %>

<h3>Email</h3>
    <%= form.text_field :email %>

<h3>Company</h3>
    <%= form.text_field :company %>

<h3>Work Pattern</h3>
    <%= form.text_field :work_pattern %>

<h3>What do you do?</h3>
    <%= form.text_field :activities %>

<h3>Interests</h3>
    <%= form.text_field :interests %>

<h3>Website Title</h3>
    <%= form.text_field :website_name %>

<h3>Website URL</h3>
    <%= form.text_field :website_url %>

<h3>Phone</h3>
    <%= form.text_field :phone %>

<h3>Facebook</h3>
    <%= form.text_field :facebook %>

<h3>Twitter</h3>
    <%= form.text_field :twitter %>

<h3>LinkedIn</h3>
    <%= form.text_field :linkedin %>

<h3>Instagram</h3>
    <%= form.text_field :instagram %>

<h3>Slack</h3>
    <%= form.text_field :slack %>

<h3>Bio</h3>
  <%= form.text_area :bio %>

<h3>Image</h3>
<%= form.file_field :avatar%>

<br></br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
