<div class = "container">
  <div class = "row">
    <div class = "col-12">
      <% if member.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

   <div class = "row">
     <div class = "col-md-8">
        <h3 class="mb-3">Update Your Profile</h3>
     </div>
     <div class = "col-md-4">
     </div>
   </div>


  <%= form_with(model: member, local: true) do |form| %>
  <div class = "row">
    <div class="col-md-8">

        <div class="row">
          <div class="col-md-6 mb-3">
            <% if(member.avatar) %>
            <div class="input-group mb-3">
              <img class="rounded-circle" src="<%= member.avatar.url %>" alt="profile image" width="100" height="100"> <%= form.file_field :avatar %>
            </div>
            <% else %>
            <label>Profile Photo</label>
            <div class="input-group mb-3">
              <%= image_tag("default-avatar.jpeg", size: "140x140", class: "rounded-circle", alt: "Edit Entry") %>

              <%= form.file_field :avatar%>
            </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <%= form.text_field :firstname, class: "form-control", placeholder: "First Name" %>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <%= form.text_field :lastname, class: "form-control", placeholder: "Last Name" %>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <%= form.text_field :username, class: "form-control", placeholder: "Username" %>
            <div class="invalid-feedback" style="width: 100%;">
              Your username is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="title">Title/Role</label>
          <%= form.text_field :title, class: "form-control", placeholder: "Freelancer" %>
        </div>


        <div class="mb-3">
          <label for="company">Company</label>
          <%= form.text_field :company, class: "form-control", placeholder: "Reno Collective" %>
        </div>



        <div class="mb-3">
          <label for="email">Email</label>
          <%= form.text_field :email, class: "form-control", placeholder: "you@example.com" %>
        </div>

        <div class="mb-3">
          <label for="website">Website</label>
          <%= form.text_field :website_url, class: "form-control", placeholder: "http://yourwebsite.com" %>
        </div>

        <div class="mb-3">
          <label for="interests">Interests</label>
          <%= form.text_field :interests, class: "form-control", placeholder: "Running, programming, knitting" %>
        </div>

        <div class="mb-3">
          <label for="activities">What do you do?</label>
          <%= form.text_field :activities, class: "form-control", placeholder: "Programmer" %>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="work-pattern">Work Pattern</label>
            <select class="custom-select d-block w-100" id="workpattern">
              <option value="">Choose...</option>
              <option>Freelancer</option>
              <option>Student</option>
              <option>Remote Employee</option>
              <option>Owner</option>
              <option>Startup</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid work pattern.
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <h4 class="mb-3">Social Profiles</h4>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Facebook</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://facebook.com/</span>
              </div>
              <%= form.text_field :facebook, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Twitter</label>
            <div class="input-group mb-3">
             <div class="input-group-prepend">
               <span class="input-group-text" id="basic-addon3">https://twitter.com/</span>
             </div>
             <%= form.text_field :twitter, class: "form-control" %>
           </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Instagram</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://instagram.com</span>
              </div>
              <%= form.text_field :instagram, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">LinkedIn</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://linkedin.com/in/</span>
              </div>
              <%= form.text_field :linkedin, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Slack</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@</span>
              </div>
              <%= form.text_field :slack, class: "form-control" %>
            </div>
          </div>
        </div>
        <hr class="mb-4">


    </div>
    <div class="col-md-4">
       <h4 class="mb-3">Your Skills</h4>
       <p>Add skills to display on your profile.</p>

       <hr class="mb-4">

       <%= form.text_area :skill_list, value: form.object.skill_list.to_s, class: 'skill-tags'  %>

        <hr class="mb-4">

        <%= form.submit "Save", class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <% end %>
</div>
