<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Members</h1>

  <div class="card-deck">
  <% @members.each_with_index do |member, index| %>

    <div class="card">
      <!-- <% if member.avatar.url(:thumb) %>
        <img class="card-img-top" src="<%= member.avatar.url(:thumb) %>" alt="Card image cap" width="140" height="140">
      <% else %> -->

      <!-- <% end %> -->
      <%= image_tag("default-avatar.jpeg", size: "140x140", alt: "Edit Entry") %>
      <div class="card-body">
        <h5 class="card-title"> <%= member.firstname %> <%= member.lastname %> </h5>
        <p class="card-text">
          <%= member.company %>
        </p>
        <p class="card-text">
          <%= member.bio %>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> <%= link_to 'View Profile', member, class: "btn btn-secondary" %></small>
      </div>
    </div>

    <% if ((index+1) % 3) == 0 %>
      </div>
      <br>
      <div class="card-deck">
    <% end %>

  <% end %>
  </div>

</div>
