<div class="container" id="members">
  <div class = "row">
    <div class = "col-12">
      <h1>Members</h1>
    </div>
  </div>
  <div class = "row">

    <div class = "col-md-2">
      <div>
        <% @skills.each do |skill| %>
          <%= link_to skill.name, members_path(skill: skill.name), class: 'badge badge-skill' %>
        <% end %>
      </div>
    </div>
    <div class = "col-md-10">
      <div class = "container-fluid">
        <div class = "row">
          <% @members.each_with_index do |member, index| %>
              <div class = "col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="card text-center member-profile">
                  <div class="card-body">
                    <a href = "<%= member_path(member) %>">
                      <img class="rounded-circle" src="<%= member.avatar.url %>" alt="profile image" width="100" height="100">
                    </a>
                    <h5 class="card-title member-name"><%= link_to member.fullname, member %></h5>

                    <p class="card-text member-bio">
                       <% if member.title? && member.company %>
                      <%= member.title %> at <%= member.company %>
                       <% else %>
                       &nbsp;
                       <% end %>
                    </p>

                    <hr />
                    <div>
                      <% member.skill_list.each do |tag| %>
                        <a href="#" class="badge badge-skill"><%= tag %></a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
