<div class="container">
  <div class = "row">
    <div class = "col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <% if @member.avatar.url %>
          <img class="rounded-circle" src="<%= @member.avatar.url %>" alt="profile image" width="140" height="140">
          <% else %>
            <%= image_tag("default-avatar.jpeg", size: "140x140", class: "rounded-circle") %>
          <% end %>
          <h5 class="card-title"> <%= @member.firstname %> <%= @member.lastname %> </h5>
          <p class="card-text">
            <small><%= @member.location %></small>
          </p>
          <p class="card-text">
            <%= @member.company %>
          </p>
          <div>
            <% @member.skill_list.each do |skill| %>
              <%= link_to skill, members_path(skill: skill), class: 'badge badge-skill' %>
            <% end %>
          </div>
          <ul>
            <% if @member.website_url? %>
            <li><%= link_to @member.website_url, @member.website_url, target: '_new' %></li>
            <% end %>
            <% if @member.linkedin? %>
            <li><%= link_to 'linkedin', 'https://linkedin.com/' + @member.linkedin, target: '_new'  %></li>
            <% end %>
            <% if @member.facebook? %>
            <li><%= link_to 'facebook', 'https://facebook.com/' + @member.facebook, target: '_new'  %></li>
            <% end %>
            <% if @member.twitter? %>
            <li><%= link_to 'twitter', 'https://twitter.com/' + @member.twitter, target: '_new'  %></li>
            <% end %>
            <% if @member.instagram? %>
            <li><%= link_to 'instagram', 'https://instagram.com/' + @member.instagram, target: '_new'  %></li>
            <% end %>
          </ul>

          <% if @member == current_member %>
          <p class = "card-text">
             <%= link_to 'Edit Your Profile', edit_member_path(@member) %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "col-md-8">
      <h3>Activities</h3>
       <%= @member.activities %>

       <h3>Interests</h3>
       <%= @member.interests %>

       <h3>Bio</h3>
       <%= @member.bio %>
    </div>
  </div>
</div>
